<!-- Modal -->
<div class="modal modal_comun modal-lg fade" id="modal_agregarFilial" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h1 class="modal-title fs-5 fw-bolder" id="exampleModalLabel">Agregar Filial:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txt_filial_nombre_agregar"
                                placeholder="Nombre:">
                            <label for="txt_filial_nombre_agregar">Nombre:</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="txt_filial_departamento_agregar" aria-label="Departamento:">
                            </select>
                            <label for="txt_filial_departamento_agregar">Seleccione un departamento:</label>
                        </div>
                    </div>
                </div>

                <div class="alert alert-secondary border-secondary" role="alert">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="txt_email_agregar_filiales"
                                    placeholder="Ingrese un email:">
                                <span class="input-group-text btn btn-success"
                                    onclick="agregar_lista_filiales('Email', 'txt_email_agregar_filiales')">➕</span>
                            </div>

                            <ul class="list-group email_agregados_filiales mb-5" id="email_agregados_filiales"></ul>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="txt_interno_agregar_filiales"
                                    placeholder="Ingrese un interno:">
                                <span class="input-group-text btn btn-success"
                                    onclick="agregar_lista_filiales('Interno', 'txt_interno_agregar_filiales')">➕</span>
                            </div>

                            <ul class="list-group interno_agregados_filiales mb-5" id="interno_agregados_filiales"></ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="agregar_filial()">Guardar</button>
            </div>
        </div>
    </div>
</div>