<div id="vidashopmodal" class="w3-modal modal-vidashop modal_comun" style="display:block;">
    <div class="w3-modal-content w3-animate-top">

        <header class="w3-container w3-teal">
            <span onclick="document.getElementById('vidashopmodal').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
            <h2> _</h2>
        </header>
        <div class="w3-container"><br>
            <img src="http://192.168.1.15/vida_home/assets/img/modals/modalvidashop.jpg" class="imagenmodal">
            <hr>
            <p>Enviamos el siguiente aviso para informarles que estamos en temporada de PHISHING.</p>

            <p>¿Qué significa ésto?: que personas inescrupulosas con el fin de hackear o vulnerar la seguridad de las
                empresas ,<br> para robar información o sacar rédito por el ingreso al sistema, están usando el método
                PHISHING para obtener acceso.</p>

            <p>Que en unas de sus modalidades consiste en utilizar mails haciéndose pasar por personas del entorno,
                <br>y solicitando cierta información , pidiendo que se ingrese a ciertos links o solicitando que se
                descargue ciertos adjuntos.
            </p>

            <p>Nuestros sistemas tienen antivirus y varios anillos de seguridad,
                los mails están bajo el paraguas de seguridad de google ,
                pero pese a eso, si alguien ejecuta un archivo de un mail fraudulento
                puede sortear estos controles ya que el ok de la descarga viene de una fuente de confianza(nosotros
                mismos).</p>

            <p>Lo mismo si un mail viene con un link , o link ocultos , como por ejemplo el tipico " click aquí ".</p>

            <p>Comentamos ciertas prácticas que se deberían seguir para estar alertas antes estas situaciones, si pueden
                transmitan al resto de las personas para que también estén atentas les agradezco.</p>

            <p>Estar atentos a :</p>

            <p>- Si el mail viene con una temática distinta o extraña al área, por ejemplo un mail que hace mención a
                ascensores. ( el simple hecho del título denota que es algo extraño, este fue un caso real la semana
                pasada). Y por lo tanto no debe abrirse y menos ejecutar el link o archivo.</p>

            <p>- Si el que envió el mail tiene un dirección extraña</p>

            <p>- Si el mail pide información o menciona información distinta a lo que es la empresa</p>

            <p>- Si el mail no tiene la firma del que lo envío</p>

            <p>- Si el email menciona o dispone de que entren a determinado link y el mismo está oculto</p>

            <p>- Si viene con adjuntos cuyo nombre es extraño o fuera de lo común</p>

            <p>- SI es un mail en el cual habla de personas o menciona nombres que nada tienen que ver con la empresa.
            </p>

            <p>- Siempre lean de donde proviene el mail, pongan el mouse encima del nombre para que se despliegue la
                dirección general del mail, por ejemplo si viene un mail del santander, el que envio el mail tiene que
                ser @santander.com.uy no hay otra opcion a que sea otro nombre diferente. Si tiene diferente es un
                intento de PHISHING</p>

            <p>Les pido si pueden transmitirles a todos estas precauciones, ya que suelen haber tandas de mails con
                intención de hackear, suelen durar 15 a 20 días aproximadamente.</p>
        </div>

    </div>
</div>