<!-- Modal -->
<div class="modal modal_comun modal-xl fade" id="modal_politicasSeguridad" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <img class="me-2" src="http://192.168.1.13/vida_home/assets/img/modals/iconreclamosmodal.png"
                    style="width:50px; vertical-align:middle;">
                <h1 class="modal-title fw-bolder fs-5" id="staticBackdropLabel">Políticas de Seguridad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <p>En cumplimiento con la norma internacional ISO 27001, la Dirección de VIDA definió su política de
                    gestión
                    de la seguridad de la información. La misma se orienta a:</p>
                <p>- Cumplir con los principios de disponibilidad, integridad y confidencialidad de toda la información
                </p>
                <p>- La protección de los activos y tecnologías relacionadas con la información</p>
                <p>- Generar conciencia en funcionarios, proveedores y otros grupos de interés sobre el uso adecuado de
                    los
                    activos de información</p>
                <p>- Cumplir los requisitos legales asociados a la protección de la información</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>