<div class="d-flex flex-column">

    <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light" id="nombre_usuario"></h1>
        <!--
<div class="social-links mt-3 text-center">
  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
</div>
-->
    </div>

    <nav id="navbar" class="nav-menu navbar">
        <ul>
            <li>
                <button class="nav-link scrollto active item_menu"
                    onclick='cargar_en_div("todos", "contenedor_principal")'>
                    <i class="bx bx-home"></i>
                    <span>Inicio</span>
                </button>
            </li>
            <li id="contenido_nivel"></li>
            <li>
                <button class="nav-link scrollto active item_menu" onclick="cerrar_sesion()">
                    <i class="bx bx-lock"></i>
                    <span>Cerrar Sesión</span>
                </button>
            </li>
            <!--
  <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
  <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
  <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
  <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
  <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
  -->
        </ul>
    </nav><!-- .nav-menu -->
</div>



<script src="http://192.168.1.15/vida_home/assets/js/menu.js?v=1.0.2"></script>