<!-- ======= Sub Menú Section ======= -->
<section id="paginas" class="paginas">

    <article class="contenedormenu mb-5">
        <table class="menu">
            <tr id="td_tabla_menu">
            </tr>
        </table>
    </article>

    <article>
        <table class="tablamenu">
            <tr>
                <td>
                    <div class="content-slider">
                        <div class="slider">
                            <div class="cartelsuperiorcarousel">Información Importante.</div>
                            <div class="mask">
                                <ul>
                                    <li class="anim1">
                                        <div class="quote">Incentiva los comportamientos responsables de tus compañeros.
                                        </div>
                                        <div class="source">Promueve entre tus compañeros comportamientos responsables
                                            realizando acciones sustentables.</div>
                                        </br> </br>
                                        <div class="quote">Gestiona eficientemente los residuos.</div>
                                        <div class="source">Pon en práctica la regla de las 3R en el siguiente orden
                                            Reduce el volumen de residuos generados, Reutiliza los residuos y si no
                                            tienes la posibilidad de realizar las 2 anteriores Recicla.</div>
                                        </br> </br>
                                        <div class="quote">Ahorra papel.</div>
                                        <div class="source">El papel es un material utilizado en todas la empresas que
                                            provoca diferentes problemas ambientales como son la deforestación el cambio
                                            climático, etc.</br> Promueve el uso de sistemas de intercambio de archivos
                                            digitales reduciendo o anulando el uso de papel.</div>

                                    </li>
                                    <li class="anim2">
                                        <div class="quote">Controla y disminuye el consumo energético.</div>
                                        <div class="source">Promueve e incentiva dentro de tu equipo de trabajo hábitos
                                            que repercutan en la reducción del consumo energético por ejemplo, apagar
                                            los equipos cuando no se utilicen, ajustar la temperatura de la
                                            climatización, etc. </br>Evalúa la capacidad de cambiar los sistemas a otros
                                            más eficientes que provoquen un consumo energético menor.</div>

                                    </li>
                                    <li class="anim3">
                                        <div class="quote">Verifica al fuente de informacion de tus correos entrantes.
                                        </div>
                                        <div class="source">Tu banco nunca te pedirá que le envíes tus claves o datos
                                            personales por correo. </br>Nunca respondas a este tipo de preguntas y si
                                            tienes una mínima duda, llama directamente a tu banco para aclararlo.</div>
                                        </br></br>
                                        <div class="quote">Aprende a identificar claramente los correos electrónicos
                                            sospechosos de ser ‘PHISHING’</div>
                                        <div class="source">
                                            Existen algunos aspectos que inequívocamente, identifican este tipo de
                                            ataques a través de correo electrónico:<br /><br />
                                            Utilizan nombres y adoptan la imagen de empresas reales<br /><br />
                                            Llevan como remitente el nombre de la empresa o el de un empleado real de la
                                            empresa<br /><br />
                                            Incluyen webs que visualmente son iguales a las de empresas
                                            reales<br /><br />
                                            Como gancho utilizan regalos o la perdida de la propia cuenta existente
                                        </div>
                                    </li>
                                    <li class="anim4">
                                        <div class="quote">¿Qué es el “Phishing”?</div>
                                        <div class="source">
                                            “Phishing” es una forma de engaño mediante la cual los atacantes envían un
                                            mensaje (anzuelo) a una o a varias personas, con el propósito de
                                            convencerlas de que revelen sus datos personales. Generalmente, esta
                                            información es utilizada luego para realizar acciones fraudulentas como
                                            transferencias de fondos de su cuenta bancaria, compras con sus tarjetas de
                                            crédito u otros comportamientos delictivos que requieren el empleo de tales
                                            datos.<br /><br />
                                            El medio más utilizado actualmente por los atacantes para realizar una
                                            acometida de “phishing” es el correo electrónico. Sus mensajes suelen ser
                                            muy convincentes, ya que simulan haber sido enviados por una entidad
                                            conocida y confiable para el usuario con la cual éste opera habitualmente,
                                            por ejemplo, un banco o una empresa con la que realiza transacciones
                                            comerciales a través de Internet. En el mensaje se alegan motivos diversos,
                                            como problemas técnicos, actualización o revisión de los datos de una
                                            cuenta. A continuación, para –supuestamente- verificar o modificar sus datos
                                            personales, se le solicita que ingrese a un determinado sitio web: su nombre
                                            completo, DNI, claves de acceso, etc. Dicha página web es, en realidad, un
                                            sitio falsificado que simula ser el de la entidad en cuestión, pero como su
                                            diseño suele ser muy similar al de la organización de cuya identidad se han
                                            apropiado - a veces resulta prácticamente idéntico-, el usuario no puede
                                            percatarse del engaño.<br /><br />
                                            En otros casos, la artimaña se basa en el parecido entre las direcciones web
                                            del sitio auténtico y el apócrifo. En muchas ocasiones incluso, el texto del
                                            enlace escrito en el correo electrónico se corresponde con la dirección real
                                            del sitio web y si el usuario hace clic en dicho enlace, se lo redirige a
                                            una página falsa, controlada por los atacantes.<br /><br />
                                            Se han detectado también otros casos en los que el usuario recibe un mensaje
                                            SMS en su teléfono celular o una comunicación en su contestador automático y
                                            hasta una llamada telefónica. Mediante técnicas muy similares a las
                                            anteriormente descritas, se intenta convencerlo para que llame a determinado
                                            número telefónico. Al hacerlo, un sistema automatizado, fraguando ser la
                                            organización confiable, le solicita sus datos personales, los que luego
                                            serán utilizados sin su autorización, con las previsibles consecuencias
                                            gravosas.
                                        </div>
                                    </li>
                                    <li class="anim5">
                                        <div class="quote">Informa siempre de la actividad sospechosa</div>
                                        <div class="source">
                                            Informa de inmediato las sospechas de estafas de phishing a las autoridades
                                            correspondientes, como tu departamento de TI o la Comisión Federal de
                                            Comercio. Al informar de ellos, puedes ayudar a tu departamento de TI a
                                            identificar posibles amenazas de phishing para que puedan prevenir más
                                            ataques en el futuro.
                                        </div>
                                        <br /></br>
                                        <div class="quote">Cuidado con las suplantaciones</div>
                                        <div class="source">
                                            Comprueba si hay diferencias en la dirección de correo electrónico y el
                                            nombre del remitente. Las señales comunes de ingeniería social
                                            incluyen:<br />
                                            - Solicitudes para obtener información sensible<br />
                                            - Pedir transferencias de dinero<br />
                                            - Solicitudes de compra inusuales o repentinas<br />
                                            - Cambios repentinos al depósito directo<br />
                                        </div>
                                        </br></br>
                                        <div class="quote">Nunca hagas clic en enlaces sospechosos ni descargues
                                            archivos adjuntos</div>
                                        <div class="source">
                                            Antes de hacer clic en enlaces o descargar archivos adjuntos de correos
                                            electrónicos, mensajes de texto o mensajes instantáneos desconocidos,
                                            piénsalo dos veces y pasa el ratón sobre el enlace para examinar la URL.
                                            Hacer clic en un enlace o archivo adjunto de phishing puede provocar la
                                            instalación de malware, el robo de datos o pérdidas económicas.

                                            Si recibes un mensaje sospechoso, verifica la dirección de correo
                                            electrónico en busca de errores ortográficos o un saludo genérico y
                                            comprueba la legitimidad de los mensajes con el remitente.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
                <td><img src="http://192.168.1.13/vida_home/assets/img/logos/iconmaterial.png?v=1.1"
                        width="200px"><br><br>
                    <button onclick="abrir_modal_seguridad_informacion()" class="botoninfo">Políticas ISO 27001,
                        14001, 9001</button>
                </td>
            </tr>
        </table>
    </article>
</section><!-- End Sub Menú Section -->



<script src="http://192.168.1.13/vida_home/assets/js/cliente/js.js?v=1.0.2"></script>